.home {
  display: flex;
 
}
.homeContainer{
    /* background-color:lightcoral; */
    flex:6;
  }
  .widgets,.charts{
    display: flex;
    padding: 20px;
    gap: 20px;
  }
  .charts{
    padding: 5px 20px;
  }
  .listContainer{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding:20px;
    margin: 20px;
  }
  .listTitle{
    font-weight: 500;
    color: gray;
    margin-bottom: 15px;
  }
  