 @media All and (min-width:1025px) and (max-width:3000px){ 


.container{
    width: 99%;
    height: auto;
    margin: auto;
    /* border: 2px solid red; */
    margin-top: -230px;
}
.childOne{
    width: 99%;
    height: 460px;
    /* border: 2px solid blue; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* display: flex; */
    gap: 35px;
    margin-bottom: 50px;
    /* justify-content: space-evenly; */
}
 
.childTwo{
    /* padding: 7px; */
   padding: 0px 9px;
   width:100%;
   height: 99%;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
   
   /* border: 2px solid black; */
   margin-top: 16px;
   
   background-color: white;
}
.childOneA{
    width: 99%;
    height: 460px;
    /* border: 2px solid blue; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* display: flex; */
    gap: 35px;
    margin-bottom: 50px;
    /* justify-content: space-evenly; */
}

.childTwoHeading{
    font-size: 23px;
    margin-left: 5px;
    
}
.childThree{
  
  display: grid;
  grid-template-columns: repeat(2,46%);
  grid-template-rows: repeat(2,160px);
  gap: 20px;
  justify-content: space-evenly;
  
}

/* .chidFour{
    border: 2px solid red;
} */
.chidFour>img{
    width: 100%;
    height: 120px;
    border-radius: 5px;
    cursor: pointer;
}
.chidFour>p{
    margin-top: -3px;
    font-size: 13px;
    font-family: sans-serif;
    line-height: 20px;
}
.childTwo>p{
    color: blue;
    cursor: pointer;
}
 }

  @media (max-width:780px){
    .childOne{
        width: 100%;
        height: 360px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 25px;
        margin-bottom: 1000px;
    }
    .childOneA{
        width: 99%;
        height: 460px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 35px;
        margin-bottom: 1000px;
    }
    
    .childTwo{ 
       width:100%;
       height: auto;
       box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
       background-color: white; 
       
    }

    .childThree{
        display: grid;
        grid-template-columns: repeat(2,46%);
        grid-template-rows: repeat(2,160px);
        gap: 20px;
        justify-content: space-evenly;
        margin-left: 70px;
        
      }
      .childTwo>p{
        color: blue;
        cursor: pointer;
        margin-left: 70px;
    }
}  

 @media All and (min-width:781px) and (max-width:1024px){
    .childOne{
        width: 99%;
        height: 460px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 25px;
        margin-bottom: 580px;
       
        
    }
        .childTwo{
           padding: 0px 9px;
           width:100%;
           height: 99%;
           box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
           
           margin-top: 16px;
        
           background-color: white;
           
        }
        .childThree{
  
            display: grid;
            grid-template-columns: repeat(2,46%);
            grid-template-rows: repeat(2,160px);
            gap: 20px;
            justify-content: space-evenly;
            
          }
    .childOneA{
        width: 99%;
        height: 460px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 25px;
        margin-bottom: 580px;
       
    }
} 
