/* @media (min-width: 1024px) and (max-width: 4000px) { */
    

.slider{
    width: 100%;
    height: 500px;
    /* border-radius: 10px; */
    overflow: hidden;
    margin: auto;
    
    /* margin: 0;
    padding: 0; */
    /* height: 100vh; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }
  
  .slides{
    width: 500%;
    height: 500px;
    display: flex;
    
  }
  .navigation-auto{
    margin-left: 350px;
  }
  .navigation-manual{
    margin-left: 350px;
  }
  
  .slides input{
    display: none;
    
  }
  
  .slide{
    width: 20%;
    transition: 2s;
  }
  
  .slide img{
    width: 100%;
    height: 650px;
  }
  
  /*css for manual slide navigation*/
  
  .navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }
  
  .manual-btn{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: #40D3DC;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
   #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;
  } 
  
  /*css for automatic navigation*/
  
  .navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
  }
  
  .navigation-auto div{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40D3DC;
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40D3DC;
  }
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: #40D3DC;
  }
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background: #40D3DC;
  }
/* } */

  /* @media All and (min-width: 767px) and (max-width: 1023) {
    .slider{
      width: 10%;
      height: 500px;
      /* border-radius: 10px; */
      /* overflow: hidden;
      margin: auto; */
      
      /* margin: 0;
      padding: 0; */
      /* height: 100vh; */
      /* display: flex;
      justify-content: center;
      align-items: center; */
    
    
    /* .slides{
      width: 100%;
      height: 500px;
      display: flex;
      
    } */
    /* .navigation-auto{
      margin-left: 100px;
    }
    .navigation-manual{
      margin-left: 100px;
    } */
    
    /* .slides input{
      display: none;
      
    } */
    
    /* .slide{
      width: 10%;
      transition: 2s;
    }
    
    .slide img{
      width: 5%;
      height: 150px;
    }
    #radio1:checked ~ .first{
      margin-left: 0;
    }
    
    #radio2:checked ~ .first{
      margin-left: -10%;
    }
    
     #radio3:checked ~ .first{
      margin-left: -30%;
    }
    
    #radio4:checked ~ .first{
      margin-left: -50%;
    }  */
   
  @media All and (min-width:0px) and (max-width:359px){
    .slider{
      width: 100%;
      height: 200px;
      /* border-radius: 10px; */
      overflow: hidden;
      margin: auto;
      margin-bottom: 125px;
      
      /* margin: 0;
      padding: 0; */
      /* height: 100vh; */
      /* display: flex;
      justify-content: center;
      align-items: center; */
    }
    
    .slides{
      width: 500%;
      height: 500px;
      display: flex;
      
    }
    
    .slide img{
      width: 100%;
      height: 250px;
    }
  }