.singleProduct {
  display: flex;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 80%;
  margin: auto;
  padding: 10px;
  margin-bottom: 50px;
  margin-top: 20px;
}
.left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}
.left > img {
  width: 80%;
}
.left > img:hover {
  width: 100%;
}
.right {
  margin-top: -70px;
  width: 20%;
  padding: 5%;
  justify-items: flex-start;
}
.right > h3,
h2 {
  margin-top: -15px;
  width: 60%;
}
.details {
  margin-top: -12px;
}
.addcart {
  background-color: #ffd814;
  padding: 5px 30px;
  border-radius: 20px;
  border: none;
  margin-right: 10px;
  cursor: pointer;
  width: 30%;
}
.buynow {
  background-color: #ffa41c;
  padding: 5px 30px;
  border-radius: 20px;
  border: none;
  margin-right: 10px;
  cursor: pointer;
  width: 30%;
  margin-top: 2px;
}
