.singleProduct {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
}
.left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}
.left > img {
  width: 80%;
}
.left > img:hover {
  width: 85%;
}
.right {
  margin-top: -100px;
  width: 20%;
  padding: 5%;
}
.right > h4 {
  width: 60%;
}
.addcart {
  background-color: #ffd814;
  padding: 5px 30px;
  border-radius: 20px;
  border: none;
  margin-right: 10px;
  cursor: pointer;
  width: 30%;
}
.buynow {
  background-color: #ffa41c;
  padding: 5px 30px;
  border-radius: 20px;
  border: none;
  margin-right: 10px;
  cursor: pointer;
  width: 30%;
  margin-top: 2px;
}
