/* .table{
    height: 200px;
} */
.cellWrapper{
    display: flex;
    align-items: center;
}
.image{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}
.status{
    padding:5px;
    border-radius: 5px;
}
.Approved{
    color: rgb(5, 77, 5);
    background-color: rgb(130, 219, 130);
}
.Pending{
    color: rgb(95, 95, 9);
    background-color: rgb(233, 233, 149);
}