  

@media (min-width:1025px) and (max-width:4000px){
  .ShopBag-logo {
  width: 60px;
  height: 60px;
  margin-left: 20px;
  margin-right: 10px;
  cursor: pointer;
}
.nav-main-div {
  background-color: black;
  height: 100px;
  display: flex;
}
.nav-search-bar {
  padding: 5px;
  font-size: 18px;
  width: 60%;
  margin-left: 20px;
  margin-right: 0.5px;
  border-radius: 5px 0px 0px 5px;
}
.nav-search-bar:focus {
  outline: 0;
}
.nav-main-div-one {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.search-icon {
  cursor: pointer;
  margin: 0.8px;
  border-radius: 0px 5px 5px 0px;
}
.search-icon:hover {
  background-color: rgb(234, 186, 96);
}
.ind-flag-div {
  display: flex;
  margin-left: 25px;
  gap: 5px;
  align-items: center;

  height: 25px;
  padding: 10px;
}
.ind-flag-div > p {
  color: white;
}
.ind-flag-div > img {
  height: 20px;
}
.ind-flag-div:hover {
  background-color: black;
  border-radius: 5px;
  cursor: pointer;
  border-style: groove;
}
.nav-main-div-one > button {
  background-color: black;
  color: white;
  margin-left: 20px;
  height: 46px;
  width: 80px;
  font-size: small;
  font-weight: 1000;
}
.nav-main-div-one > button:hover {
  background-color: black;
  border-radius: 5px;
  cursor: pointer;
  border: 0.5px solid white;
}
.nav-cart {
  color: white;
  margin-left: 20px;
  height: auto;
}
.nav-cart > img {
  width: 40px;
}
.nav-cart > p {
  margin-left: 15px;
  font-weight: bold;
  font-size: 20px;
  color: rgb(247, 167, 17);
  margin-top: -5px;
  margin-bottom: -10px;
}
.nav-cart:hover {
  background-color: black;
  border-radius: 5px;
  cursor: pointer;
  border-style: inset;
}

.nav-main-div-two {
  background-color: rgba(42, 67, 80, 0.934);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  position: absolute;
  top: 10;
  left: 0;
  width: 100%;
}

.nav-main-div-main {
  width: 100%;
}
.nav-main-div-two > div:nth-child(1) {
  margin-left: 10px;
}
.nav-main-div-two-elements {
  color: white;
  height: 80%;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 0px 10px;
  border-radius: 5px;
  font-size: small;
}
.nav-main-div-two-elements:hover {
  padding: 0px 10px;
  border: white 0.5px solid;
  border-radius: 2px;
  cursor: pointer;
}
.bestSeller {
  color: white;
  text-decoration: none;
}
.electronics{
  color: white;
  text-decoration: none;
}
.nav-acc-btn {
  color: white;
  text-decoration: none;
  font-size: small;
  font-weight: bolder;
}
.nav-name-div {
  color: white;
  height: 80%;
  display: flex;
  align-items: center;
  margin-left: 5px;
  padding: 0px 20px;
}
.Hamburger-menu{
  display: none;
}
}

@media (min-width:781px) and (max-width:1024px) {
  .nav-main-div-one>button{
    display: none;
  }
  .ShopBag-logo {
    width: 70px;
    height: 70px;
    margin-left: 20px;
    margin-right: 10px;
    cursor: pointer;
  }
  .nav-main-div {
    background-color: black;
    display: flex;
  }
  .nav-search-bar {
    padding: 5px;
    font-size: 18px;
    width: 650px;
    margin-left: 20px;
    margin-right: 0.5px;
    border-radius: 5px 0px 0px 5px;
  }
  .nav-search-bar:focus {
    outline: 0;
  }
  .nav-main-div-one {
    height: 60px;
    width: auto;
    display: flex;
    align-items: center;
  }
  .search-icon {
    cursor: pointer;
    margin: 0.8px;
    border-radius: 0px 5px 5px 0px;
  }
  .search-icon:hover {
    background-color: rgb(234, 186, 96);
  }
  .nav-cart {
    color: white;
    margin-left: 20px;
    height: auto;
  }
  .nav-cart > img {
    width: 40px;
  }
  .nav-cart > p {
    margin-left: 15px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(247, 167, 17);
    margin-top: -5px;
    margin-bottom: -10px;
  }
  .nav-cart:hover {
    cursor: pointer;
  }
  
  .nav-main-div{
    height: 70px;
  }
  .hamburger{
    color: white;
    width: 40px;
    height: 30px;
    margin-left: 10px;
    margin-top: 8px;
    cursor: pointer;
  }
  .nav-responsive-main-div{
    position: absolute;
    z-index: 99;
  }
  .nav-responsive-main-div{
    background-color: white;
    height: 20rem;
    display: grid;
    align-items: center;
    padding-left: 3rem;
    margin-top: 70px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  
  .nav-div-one-responsiv{
    margin-top: -70px;
    margin-left: 18px;
  }
  
  .nav-div-two-resp p{
    color: black;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: start;
    text-decoration: none;
  }
  .nav-div-two-resp>:nth-child(1){
    display: none;
  }
  .nav-div-two-resp>:nth-child(2){
    display: none;
  }
  .nav-div-two-resp>:nth-child(5){
    display: none;
  }
  .nav-div-two-resp>:nth-child(6){
    display: none;
  }
  
}

@media (min-width:350px) and (max-width:780px) {
  .nav-main-div-one>button{
    display: none;
  }
  .ShopBag-logo {
    width: 120px;
    height: 100px;
    margin-left: 20px;
    margin-right: 10px;
    cursor: pointer;
  }
  .nav-main-div {
    background-color: black;
    display: flex;
    height: 100px;
  }
  .nav-search-bar {
    padding: 5px;
    font-size: 18px;
    width: auto;
    
    border-radius: 5px 0px 0px 5px;
  }
  .nav-search-bar:focus {
    outline: 0;
  }
  .nav-main-div-one {
    height: 60px;
    width: auto;
    display: flex;
    margin-top: 20px;
    align-items: center;
  }
  .search-icon {
    cursor: pointer;
    margin: 0.8px;
    border-radius: 0px 5px 5px 0px;
  }
  .search-icon:hover {
    background-color: rgb(234, 186, 96);
  }
  .nav-cart {
    color: white;
    margin-left: 20px;
    height: auto;
  }
  .nav-cart > img {
    width: 40px;
  }
  .nav-cart > p {
    margin-left: 15px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(247, 167, 17);
    margin-top: -5px;
    margin-bottom: -10px;
  }
  .nav-cart:hover {
    cursor: pointer;
  }
 
  .hamburger{
    color: white;
    width: 40px;
    height: 30px;
    margin-left: 10px;
    margin-top: 8px;
    cursor: pointer;
  }
  .nav-responsive-main-div{
    position: absolute;
    z-index: 99;
  }
  .nav-responsive-main-div{
    background-color: white;
    height: 20rem;
    display: grid;
    align-items: center;
    padding-left: 3rem;
    margin-top: 100px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  
  .nav-div-one-responsiv{
    margin-top: -100px;
    margin-left: 100px;
  }
  
  .nav-div-two-resp p{
    color: black;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: start;
    text-decoration: none;
  }
  .nav-div-two-resp>:nth-child(1){
    display: none;
  }
  .nav-div-two-resp>:nth-child(2){
    display: none;
  }
  .nav-div-two-resp>:nth-child(5){
    display: none;
  }
  .nav-div-two-resp>:nth-child(6){
    display: none;
  }
}









