.greatDealsMobile{
    /* border: solid; */
    width: 98%;
    margin: auto;
    height: 280px;
    margin-top: 17px;
    padding: 5px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
   
}
.greatDealsMobile>h1{
    font-size: 25px;
    margin-top: 6px;
    margin-left: 10px ;
}

.imgaes{
    cursor: pointer;
}

.singinbtn{
    line-height: 1px;
    text-align: center;
    /* border: solid; */
    margin-top: 30px;
    border-radius: 5px;
}
.singinbtn>h4{
    font-size: 12px;
}

/* .singinbtn>button{
    width: 250px;
    height: 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(255, 200, 0);
} */
/* .singinbtn>button:hover{
    background-color: orange;
} */
.signupbtn{
    width: 250px;
    height: 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(255, 200, 0);
}
.signupbtn:hover{
    background-color: orange;
}

.footer{
    /* border:solid red; */
    height: 270px;
    
    margin-bottom: -20px;
    display: flex;
   }
   .footer>div:nth-child(1){
       /* border:solid blue; */
       height:100%;
       width:250px;
       
   }
   
   
   .footer>div:nth-child(2){
       /* border:solid blue; */
       height:100%;
       width:280px;
       margin-left: 20px;
       
   }
   .footer>div:nth-child(3){
       /* border:solid blue; */
       height: 100%;
       width:980px;
      
   }
   .smollWord{
       font-size: 13px;
       margin-left: 40px;
       line-height: 20px;
      cursor: pointer;
   }
   .footer>div:nth-child(3)>div{
       /* border:solid red; */
       height:20px;
       width:350px;
       display: flex;
       justify-content: space-between;
       margin-left: 250px;
   }
   .socialIcon{
       width:20px;
       cursor: pointer;
   }
   .footer>div:nth-child(3)>p{
       font-size: 25px;
       margin-left: 250px;
       margin-top: 50px;
   }
   .footMain{
    background-color: rgb(94, 94, 94);
    padding:10px 0px;
    width: 100%;
    margin-top: 50px;
    color: white;
   }
   .logo{
    width: 150px;
    margin-bottom: -30px;
   }
   
   .logoDiv{
    display: flex;
    justify-content: center;
    align-items: center;
   }