.footer {
  height: 270px;
  margin-bottom: -20px;
  display: flex;
  gap: 40px;
}
.container {
  width: 250px;
  margin-left: 20px;
}

.social {
  height: 100%;
  margin-right: 20px;
}
.smallWord {
  font-size: 13px;
  margin-left: 40px;
  line-height: 20px;
  cursor: pointer;
}
.footer > div:nth-child(5) > div {
  height: 20px;
  width: 250px;
  display: flex;
  justify-content: space-between;
  margin-left: 150px;
}
.socialIcon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.socialIcon:hover {
  width: 45px;
  height: 45px;
  cursor: pointer;
}
.footer > div:nth-child(5) > p {
  font-size: 25px;
  margin-left: 150px;
  margin-top: 50px;
}
.footMain {
  background-color: rgb(94, 94, 94);
  padding: 10px 0px;
  width: 100%;
  color: white;
}
.logo {
  width: 150px;
  margin-bottom: -30px;
}

.logoDiv {
  margin-top: -10px;
  margin-bottom: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
