@media (min-width:1025px) and (max-width:4000px) {
  

.footer {
  height: 270px;
  margin-bottom: -20px;
  display: flex;
  gap: 40px;
  /* border: solid red; */
}
.footer>div:nth-child(3){
  padding-top: 29px;
}
.footer>div:nth-child(4){
  padding-top: 29px;
  
}
.container {
  width: 250px;
  margin-left: 20px;
  /* border: solid greenyellow */
}

.social {
  height: 100%;
  margin-right: 20px;
  /* border: solid red; */
 
}


.smallWord {
  font-size: 13px;
  margin-left: 40px;
  line-height: 20px;
  cursor: pointer;
}
.footer > div:nth-child(5) > div {
  height: 20px;
  width: 250px;
  display: flex;
  justify-content: space-between;
  margin-left: 150px;
}
.socialIcon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-left: -110px;
  margin-top: 30px;
}
.socialIcon:hover {
  width: 45px;
  height: 45px;
  cursor: pointer;
}
.footer > div:nth-child(5) > p {
  font-size: 25px;
  margin-left: 50px;
  margin-top: 50px;
  /* border: solid red; */
}
.footMain {
  background-color: rgb(94, 94, 94);
  padding: 10px 0px;
  width: 100%;
  color: white;
  /* border: solid blue; */
}
.logo {
  width: 150px;
  margin-bottom: -30px;
}

.logoDiv {
  margin-top: -10px;
  margin-bottom: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
}

@media (min-width:781px) and (max-width:1024px){
  .footer {
    height: 270px;
    margin-bottom: 50px;
    display: flex;
    gap: 40px;
    /* border: solid red; */
  }
  .footer>div:nth-child(3){
    padding-top: 29px;
  }
  .footer>div:nth-child(4){
    padding-top: 29px;
    
  }
  .container {
    width: 150px;
    margin-left: 20px;
    /* border: solid greenyellow; */
    
  }
  .footer>div:nth-child(4){
    display: none;
  }
  .footer>div:nth-child(3){
    display: none;
  }
  .social {
    height: 100%;
    margin-right: 20px;
    /* border: solid red; */
   
  }
  
  
  .smallWord {
    font-size: 13px;
    margin-left: 40px;
    line-height: 20px;
    cursor: pointer;
  }
  .footer > div:nth-child(5) > div {
    height: 20px;
    width: 250px;
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
  }
  .socialIcon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: -110px;
    margin-top: 30px;
  }
  .socialIcon:hover {
    width: 45px;
    height: 45px;
    cursor: pointer;
  }
  .footer > div:nth-child(5) > p {
    font-size: 25px;
    margin-left: 50px;
    margin-top: 50px;
    /* border: solid red; */
  }
  .footMain {
    background-color: rgb(94, 94, 94);
    padding: 10px 0px;
    width: 100%;
    color: white;
    /* border: solid blue; */
  }
  .logo {
    width: 150px;
    margin-bottom: -30px;
  }
  
  .logoDiv {
    margin-top: -10px;
    margin-bottom: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
  }
}