.product__card * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.product__title {
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
}
